{
  "swagger": "2.0",
  "info": {
    "description": "한국 전기안전공사의 Open API 서비스 입니다. 본 API 서비스는 전기안전공공플랫폼의 실시간 원격관제데이터를 RESTful-API 형태로 조회 할 수 있습니다. </br> `API 키발급 및 자세한 정보는 한국전기안전공사로 문의바랍니다.(krystaloh@kesco.or.kr)`.",
    "version": "1.0.0",
    "title": "한국전기안전공사 전기안전공공플랫폼 원격관제데이터 Open-API",
    "termsOfService": "http://www.kesco.or.kr",
    "contact": {
      "email": "krystaloh@kesco.or.kr"
    },
    "license": {
      "name": "KESCO",
      "url": "http://www.kesco.or.kr"
    }
  },
  "host": "openapi.kesco.or.kr",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Equipment",
      "description": "실시간 IoT 장치별 측정 데이터 및 이벤트 현황 조회",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://www.kesco.or.kr"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/equipment/{EquipmentId}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "현재 id의 실시간 데이터 조회",
        "description": "현재 id의 실시간 데이터 조회합니다. Option값 '1' 은 현재 측정데이터 조회이며, '2'는 이벤트 정보 조회입니다. 옵션값 '2'의 경우 start 및 end에 해당하는 시간 필터가 가능합니다.",
        "operationId": "measuredData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "KESCO API 인증 Token-Key (기간만료 및 필요시 KESCO에 요청)",
            "required": true,
            "type": "string"
          },
          {
            "name": "EquipmentId",
            "in": "path",
            "description": "관제장치 식별자",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Option",
            "in": "query",
            "description": "1 -> 현재측정데이터<br> 2 -> 이벤트 데이터 ",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Option 2 (현재데이터)에서 검색의 시작 지점<br>Format 1 : yyyymmddhhmmss 또는 yyyy-mm-dd hh:mm:ss <br> Format 2 : yyyymmdd 또는 yyyy-mm-dd",
            "required": true,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "type": "string",
            "description": "Option 2 (현재데이터)에서 검색의 시작 지점<br>Format 1 : yyyymmddhhmmss 또는 yyyy-mm-dd hh:mm:ss <br> Format 2 : yyyymmdd 또는 yyyy-mm-dd",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Http Response Code 400, Please check you arguments. [Received argument | start : 20180601, end : 20180632]"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "200 (Option:1)": {
            "description": "successful operation (Option1 현재IoT측정데이터)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Equipment"
              }
            }
          },
          "200 (Option:2)": {
            "description": "successful operation (Option2 현재IoT이벤트데이터 ",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EventData"
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:pets",
              "read:pets"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "X-Auth-Token": {
      "type": "apiKey",
      "name": "X-Auth-Token",
      "in": "http-Header"
    }
  },
  "definitions": {
    "Equipment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "000494"
        },
        "etime": {
          "type": "string",
          "example": "2018-05-13T04:10:35.216Z"
        },
        "alarm": {
          "type": "string",
          "example": "51/000"
        },
        "cat": {
          "type": "string",
          "example": "null"
        },
        "measure": {
          "type": "object",
          "$ref": "#/definitions/Measure"
        },
        "sub": {
          "type": "string",
          "example": "kesco"
        }
      }
    },
    "EventData": {
      "type": "object",
      "properties": {
        "eventName": {
          "type": "string",
          "example": "저항성누설전류주의"
        },
        "occurrenceTime": {
          "type": "string",
          "example": "2017-12-05T19:01:59.000Z"
        },
        "siteName": {
          "type": "string",
          "example": "외암리 199 (외암민속길9번길 8)"
        },
        "equipmentSeq": {
          "type": "string",
          "example": "3020"
        },
        "equipmentName": {
          "type": "string",
          "example": "외암리 195 (외암민속길 33)"
        },
        "measureValue": {
          "type": "string",
          "example": "256.21464"
        },
        "eventLevel": {
          "type": "string",
          "example": "주의"
        },
        "handlingResult": {
          "type": "string",
          "example": "조치중"
        },
        "handlingTime": {
          "type": "string",
          "example": "2017-12-08T07:24:24.000Z"
        }
      }
    },
    "Measure": {
      "type": "object",
      "properties": {
        "amp": {
          "type": "number",
          "format": "double",
          "example": 0.003612
        },
        "coId": {
          "type": "integer",
          "format": "double",
          "example": 1
        },
        "e1": {
          "type": "integer",
          "format": "double"
        },
        "e2": {
          "type": "integer",
          "format": "double"
        },
        "leakAmp": {
          "type": "integer",
          "format": "double",
          "example": 0.011234
        },
        "leakResi": {
          "type": "integer",
          "format": "double",
          "example": 0.011006
        },
        "ohm": {
          "type": "integer",
          "format": "double",
          "example": 19.87072
        },
        "volt": {
          "type": "integer",
          "format": "double",
          "example": 218.6904
        },
        "watt": {
          "type": "integer",
          "format": "double",
          "example": 0.790871
        }
      }
    }
  }
}