doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/equipment/stylesheets/style.css')
    link(rel='stylesheet', href='/equipment/stylesheets/authForm.css')
  body
    block content
